*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.Header{
    background-color: rgb(111, 209, 176);
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}
.Header button{
    font-size: 20px;
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo{
    height: 30%;
    width: 30%;
}

.Header button a{
    font-size: 20px;
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.Header button a img{
    height: 130%;
}

.Header button:hover{
    color: rgb(111, 209, 176);
    background-color: white;
}
.Header button a:hover{
    color: rgb(111, 209, 176);
    background-color: white;
}


.main-homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-homepage img{
    width: 90%;
    height: 50%;
    border-radius: 15px;
}


.IM-på-kartet{
    margin-top: 80px;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

.IM-på-kartet-innhold{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content:space-evenly;
}

.IM-på-kartet img{
    width: 50%;
}



.hjertesaker-overskrift{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
}

.hjertesaker{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sakcontainer{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    transition: 1s;

}

.sakcontainer :hover{
    transform: scale(1.04);
    z-index: 2;
    color: rgb(232, 175, 61);
    font-weight:550;
}

.sak-bilde{
    width: 230px;
    height: 90%;
    background-image: url(Pictures/Kampanje\ blide-1.jpg);
    background-size: cover;
    border-radius: 10px;
}

.sak-bilde :hover{
    transform: scale(0.01);
    cursor: pointer;
}

.sak{
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sak-innhold {
    border-radius: 5px;
    height: 65%;
    width: 230px;
    transition: 1s;
    
}

.footer{
    color: rgb(0, 0, 0);
    background-color: rgb(111, 209, 176);
    height:300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.kontaktinfo{
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}
.sosiale-medier{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: flex-start;
}
.logo img{
    background-image: url(Pictures/MainAfter.webp);
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}